doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Search Engine
  meta(name='author' content='Joel Silva')
  meta(name='description' content='')
  meta(name='image' content='')
  meta(name='keywords' content='')
  link(rel='icon' href='')
  link(href="https://fonts.googleapis.com/css?family=Bebas+Neue|Lato|Open+Sans+Condensed:300|Tomorrow&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="css/style.min.css")
  title Dogs