section.dogbreed
  h1 Escolha seu dog!
    span.dogCardSaved Dog salvo

  .card
    img(src="http://via.placeholder.com/300" alt="Imagem aleatório de cachorro ou imagem padrão cinza" class="dogImage")
    .card-container
      p.dogName

  .card-options
    input#dogTxt(type="text", name="dogTxt" placeholder="Nome do dog")


    select(id="selectBreed" onchange="app.getDogImage()")
      option(disabled selected hidden) Raça

    select(id="selectColor" onchange="app.getFontColor()")
      option(disabled selected hidden) Cor do nome
      option(value="snow") Neve
      option(value="black") Preto
      option(value="purple") Roxo
      option(value="tomato") Tomate

    select(id="selectFontFamily" onchange="app.getFontFamily()")
      option(disabled selected hidden) Tipo da fonte
      option(value="Bebas Neue") Bebas Neue
      option(value="Lato") Lato
      option(value="Open Sans Condensed") Open Sans Condensed
      option(value="Tomorrow") Tomorrow

    button(id="btn") Salvar